<slide class="section-slide" id="{{ slide.id }}" style="background-color:{{{ slide.bg }}};">
  <div class="row-fluid" style="background-color:rgba(255,255,255,0.25);margin:10%;width:80%;height:60%;">
    <div class="row-fluid" style="height:10%;"></div>
    <div class="row-fluid" style="height:40%;">
        <center><img alt="75%x75%" class="img75 auto-fadein" src="assets/img/{{{ slide.img }}}" style="height: 150px; display: block;"></center>
    </div>
    <div class="row-fluid" style="height:50%;">
      <center>
        <hgroup class="auto-fadein">
          {{{ slide.header}}}
          {{{ slide.content }}}
        </hgroup>
      </center>
    </div>
  </div>
</slide>

